<%
	// move out of TEMPLATE!!!
	var threadCount  = 26;
	var portion      = 1 / threadCount;
	var threadInvert = 26 + 1 - id
	var threadPosition = portion * threadInvert 
%>
<div 
	class="thread"
	data-speed="1"
	data-position="<%= threadPosition %>">
	<p class="threadNumber"><%= id %></p>
	<h2><%= title.toTitle() %></h2>
	<% // thread type switches %>
	<% if (video.url) { %>
		<% if (video.locked) { %>
			<% // timer type %>
			<div class="button-hourglass"></div>
			<p class="timer">
				<% // release datetime  %>
				TIMERS!!!!
			</p>
		<% } else { %>
			<% // Video Type %>	
			<a
				class="button-play"
				href="thread/<%= id %>/video"
				title="26 Threads Video"
				>Play</a>
		<% } %>
	<% } else { %>
		<% // regular type %>
		<a
			class="button-next"
			href="thread/<%= id + 1 %>"
			>Next</a>
	<% } %>
	<% if (subTitle) { %><h3><%= subTitle.toTitle() %></h3><% } %>
	<p class="description"><%= description %></p>
	<a href="#thread/26">26</a>
</div>
