<section
	class="thread"
	data-speed="1"
	data-position="<%= threadPosition %>">
	<p class="thread-number"><%= id %></p>
	<div class="willHide">
		<h2 class="thread-title"><%= title.toTitle() %></h2>
		<% // thread type switches %>
		<% if (video.url || id === 26) { %>
			<div id="timer"></div>
		<% } else { %>
			<% // regular type %>
			<a
				class="button-next"
				href="#thread/<%= id + 1 %>"
				>Next</a>
		<% } %>
		<% if (subTitle) { %><h3 class="thread-subtitle"><%= subTitle.toTitle() %></h3><% } %>
		<% if (exLink) { %><a class="ex-link" href="<%= exLink %>"><%= exLinkDesc %></a><% } %>
	</div>
</section>
<button data-id="<%= id %>" class="info-link">More Info</button>
<section class="info">
	<p class="thread-desc"><%= description %></p>
</section>
