<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<h3 class="modal-title">More Info</h3>
<div class="moreInfo-container">
	<div class="row">
		<div class="email-notifier">
			<!-- Begin MailChimp Signup Form -->
			<form
			action="http://beachmonster.us1.list-manage.com/subscribe?u=7af5662c4436d1c1b014f36ca&id=e87b5129bd"
			method="post"
			id="mc-embedded-subscribe-form"
			name="mc-embedded-subscribe-form"
			class="validate"
			target="_blank"
			novalidate>
				<h4 class="modal-subtitle">We can alert you as new Threads are released</h4>
				<div class="field-group">
					<input
					type="email"
					value=""
					name="EMAIL"
					class="required email"
					placeholder="E-Mail"
					id="mce-EMAIL">
				</div>
				<div id="e-responses" class="clear">
					<div
					class="response"
					id="mce-error-response"
					style="display:none"></div>
					<div
					class="response"
					id="mce-success-response"
					style="display:none"></div>
				</div>
				<div class="clear">
					<input
					type="submit"
					value="Subscribe to our E-mail Notifier"
					name="subscribe"
					id="mc-embedded-subscribe"
					class="button-submit">
				</div>
			</form>
			<!--End mc_embed_signup-->
		</div>
		<ul class="social">
			<h4 class="modal-subtitle">Other Links</h4>
			<div class="clearfix">
				<li class="social-item twitter">
					<a class="ico tw" href="//twitter.com/thebeachmonster" target="_blank">Twitter</a>
				</li>
				<li class="social-item facebook-link">
					<a class="ico fb" href="https://www.facebook.com/26threads" target="_blank">Facebook</a>
				</li>
				<li class="social-item facebook-like">
					<div class="fb-like" data-href="https://www.facebook.com/26threads" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-colorscheme="dark"></div>
				</li>
			</div>
			<div class="clearfix">
				<li class="social-item kickstarter">
					<a href="//thread26.org" target="_blank">
						<img src="/assets/images/kickstarter.png" alt="Visit the Kickstarter">
					</a>
				</li>
				<li class="social-item g26">
					<a href="//g26.org" target="_blank">
						<img src="/assets/images/g26.png" alt="Visit Group 26">
					</a>
				</li>
				<li class="social-item vimeo">
					<a href="http://vimeo.com/channels/26users" target="_blank">
						<img src="/assets/images/vimeo_logo_blue.png" alt="Visit the 26 Threads Users Channel">
					</a>
				</li>
			</div>
		</ul>
	</div>
	<div class="row">
		<div class="credits">
			<h3 class="xmodal-title">Credits</h3>
			<dl class="def-wrap">
				<dt>Visual FX</dt>
				<dd><a href="//www.stalofilm.se/" target="_blank">Hannes Paulsson</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Additional Camera</dt>
				<dd><a href="//www.imdb.com/name/nm3035006/" target="_blank">Paul Edwardson</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Non-Fiction Poster Background Artwork</dt>
				<dd><a href="//www.houseofmurdock.com/" target="_blank">Sean Murdock</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Celestial Photos</dt>
				<dd>Hubble Telescope &amp; STScI</dd>
			</dl>

			<dl class="def-wrap">
				<dt>Featuring</dt>
				<dd>Jim McMullen, 
				<a href="//www.eleesmith.com" target="_blank">E. Lee Smith</a>, 
				<a href="//www.andyralph.com" target="_blank">Andy Ralph</a>, 
				<a href="//www.josephscheppers.com" target="_blank">Joseph Cornelius Scheppers</a>
				</dd>
			</dl>

			<dl class="def-wrap">
				<dt>Voices</dt>
				<dd><a href="//www.voices.com/people/soubries" target="_blank">Christine Durst</a>, <a href="//www.richardsutphen.com/" target="_blank">Richard Sutphen</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Assistant Producer</dt>
				<dd>Joshua Tarnofsky</dd>
			</dl>

			<dl class="def-wrap">
				<dt>Voice Recordings</dt>
				<dd><a href="//www.studiomvoiceovers.com/" target="_blank">Studio M Voiceovers</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Singing Bowl Music</dt>
				<dd><a href="//www.seeyouinsleep.com/" target="_blank">Brian William Green</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Sountrack Contribution</dt>
				<dd><a href="//www.nihiti.com/" target="_blank">Nihiti</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Featured Painting</dt>
				<dd><a href="//jsolter.bigcartel.com/" target="_blank">Jonathan Solter</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Background Music</dt>
				<dd><a href="//www.facebook.com/PlaceTheory" target="_blank">Joshua Greco</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Web Design &amp; Development</dt>
				<dd><a href="//goluptio.us" target="_blank">Goluptious</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Steadicam</dt>
				<dd><a href="http://www.joshberryfilms.com/" target="_blank">Joshua Berry</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>UX Consultant</dt>
				<dd><a href="http://ryanbrock.com/" target="_blank">Ryan Brock</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Writing Assistant</dt>
				<dd><a href="//about.me/kailynndailey/" target="_blank">Kai Lynn Dailey</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Promotional Assistance</dt>
				<dd>Mark Portwood, Georgie Tucker</dd>
			</dl>

			<dl class="def-wrap">
				<dt>G26 Development &amp; Design</dt>
				<dd><a href="//www.petevg.com/" target="_blank">Pete Vander Giessen</a>, Dylan Clendenin, <a href="//www.oceantara.com/" target="_blank">Chris Fellows</a>, <a href="//omaryesidmarino.com/" target="_blank">Omar Marino</a>, Jamie Arseneault</dd>
			</dl>

			<dl class="def-wrap">
				<dt>Timer Coding</dt>
				<dd>Mihai Panait</dd>
			</dl>

		</div>
		<div class="resources">
			<h3 class="xmodal-title">Resources</h3>
			<dl class="def-wrap">
				<dt>Vipassana Courses</dt>
				<dd><a href="//www.dhamma.org/" target="_blank">Dhamma.Org</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Non-Spiritual meditation based brain training</dt>
				<dd><a href="//www.neurosculpting.com" target="_blank">Neurosculpting.Com</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Informational Videos</dt>
				<dd><a href="//www.timtyler.org" target="_blank">TimTyler.Org</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Burning Man</dt>
				<dd><a href="//www.burningman.org/" target="_blank">BurningMan.Org</a></dd>
			</dl>

			<dl class="def-wrap">
				<dt>Brother Wolf and the Art of Storytelling</dt>
				<dd><a href="//www.artofstorytellingshow.com/">ArtOfStoryTellingShow.Com</a></dd>
			</dl>
		</div>
	</div>
</div>
