<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<h3 class="modal-title">More Info</h3>
<div class="moreInfo-container">
	<div class="row">
		<div class="email-notifier">
			<!-- Begin MailChimp Signup Form -->
			<form
			action="http://26threads.us1.list-manage2.com/subscribe/post?u=7af5662c4436d1c1b014f36ca&amp;id=f9eaf780ce"
			method="post"
			id="mc-embedded-subscribe-form"
			name="mc-embedded-subscribe-form"
			class="validate"
			target="_blank"
			novalidate>
				<h4 class="modal-subtitle">Subscribe to our Email Notifier</h4>
				<div class="field-group">
					<input
					type="email"
					value=""
					name="EMAIL"
					class="required email"
					placeholder="E-Mail"
					id="mce-EMAIL">
				</div>
				<div id="e-responses" class="clear">
					<div
					class="response"
					id="mce-error-response"
					style="display:none"></div>
					<div
					class="response"
					id="mce-success-response"
					style="display:none"></div>
				</div>
				<div class="clear">
					<input
					type="submit"
					value="Subscribe"
					name="subscribe"
					id="mc-embedded-subscribe"
					class="button-submit">
				</div>
			</form>
			<!--End mc_embed_signup-->
		</div>
		<ul class="social">
			<h4 class="modal-subtitle">Other Links</h4>
			<div class="clearfix">
				<li class="social-item twitter">
					<a class="ico tw" href="//twitter.com/thebeachmonster" target="_blank">Twitter</a>
				</li>
				<li class="social-item facebook-link">
					<a class="ico fb" href="https://www.facebook.com/26threads" target="_blank">Facebook</a>
				</li>
				<li class="social-item facebook-like">
					<div class="fb-like" data-href="https://www.facebook.com/26threads" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-colorscheme="dark"></div>
				</li>
			</div>
			<div class="clearfix">
				<li class="social-item g26">
					<a href="//g26.org" target="_blank">
						<img src="/assets/images/g26.png" alt="Visit Group 26">
					</a>
				</li>
				<li class="social-item vimeo">
					<a href="http://vimeo.com/channels/26users" target="_blank">
						<img src="/assets/images/vimeo_logo_blue.png" alt="Visit the 26 Threads Users Channel">
					</a>
				</li>
			</div>
		</ul>
	</div>


	<div class="row">
		<div class="credits">
			<dl>
				<dt>Visual FX</dt>
				<dd><a href="//www.stalofilm.se/">Hannes Paulsson</a></dd>

				<dt>Additional Camera</dt>
				<dd><a href="//www.imdb.com/name/nm3035006/">Paul Edwardson</a></dd>

				<dt>Non-Fiction Poster Background Artwork</dt>
				<dd><a href="//www.houseofmurdock.com/">Sean Murdock</a></dd>
				
				<dt>Celestial Photos</dt>
				<dd>Hubble Telescope &amp; STScI</dd>

				<dt>Featuring</dt>
				<dd>Jim McMullen</dd>
				<dd><a href="//www.eleesmith.com">E. Lee Smith</a></dd>
				<dd><a href="//www.andyralph.com">Andy Ralph</a></dd>
				<dd><a href="//www.facebook.com/profile.php?id=1219063">Joseph Cornelius Scheppers</a></dd>

				<dt>Voices</dt>
				<dd>Christine Durst</dd>
				<dd>Richard Sutphen</dd>

				<dt>Assistant Producer</dt>
				<dd>Joshua Tarnofsky</dd>

				<dt>Voice Recordings</dt>
				<dd><a href="//www.studiomvoiceovers.com/">Studio M Voiceovers</a></dd>

				<dt>Singing Bowl Music</dt>
				<dd><a href="//www.seeyouinsleep.com/">Brian William Green</a></dd>

				<dt>Background Music</dt>
				<dd><a href="//www.facebook.com/PlaceTheory">Joshua Greco</a></dd>

				<dt>Web Design &amp; Development</dt>
				<dd><a href="//goluptio.us">Goluptious</a></dd>

				<dt>Steadicam</dt>
				<dd><a href="http://www.joshberryfilms.com/">Joshua Berry</a></dd>

				<dt>UX Consultant</dt>
				<dd><a href="http://ryanbrock.com/">Ryan Brock</a></dd>
			</dl>
		</div>
		<div class="resources">
			<dl>
				<dt>Vipassana Courses</dt>
				<dd><a href="//www.dhamma.org/">Dhamma.Org</a></dd>

				<dt>Non-Spiritual meditation based brain training</dt>
				<dd><a href="//www.neurosculpting.com">Neurosculpting.Com</a></dd>

				<dt>Informational Videos</dt>
				<dd><a href="//www.timtyler.org">TimTyler.Org</a></dd>

				<dt>Burning Man</dt>
				<dd><a href="//www.burningman.org/">BurningMan.Org</a></dd>

				<dt><a href="//www.artofstorytellingshow.com/">Brother Wolf and the Art of Storytelling</a></dt>
			</dl>
		</div>
	</div>
</div>
