@import compass/reset
@import compass/css3/font-face
@import compass/css3/box-sizing
@import compass/css3/box-shadow
@import compass/css3/border-radius
@import compass/css3/background-origin
@import compass/css3/text-shadow
@import compass/css3/transition
@import compass/css3/images
@import compass/typography/links/unstyled-link
@import compass/typography/links/link-colors
@import compass/utilities/sprites
@import compass/utilities/general/clearfix
@import compass/css3/opacity

/*! Made by RipeType: http://www.ripetype.com.au/ */
@import inc/ripe/plain
@import inc/ripe/bold

/*! Rothman by David Rakowski: http://www.fontsquirrel.com/fonts/Rothman */
@import inc/rothman/plain

$button-play-spacing: 10px
$button-t26-spacing: 19px
$button-next-spacing: 19px
@import "button/*.png"

@import "light/*.png"

@import "social/*.png"

$blueGlow: rgba(#17aae0, 1)

$default-text-shadow-color: rgba(black, 0.5)
$default-text-shadow-h-offset: 1px
$default-text-shadow-v-offset: 1px
$default-text-shadow-blur: 1px

$default-box-shadow-color: rgba(black, 0.3)
$default-box-shadow-h-offset: 1px
$default-box-shadow-v-offset: 1px
$default-box-shadow-blur: 2px

// Mixins, should go somewhere
@mixin pseudo($height, $width, $center: false, $content: ".")
	content: $content
	@if $content == "."
		font-size: 0
		color: transparent
	width: $width
	height: $height
	display: block
	@if $center == true
		left: 50%
		margin-left: - ($width / 2)
	position: absolute

.clearfix
	+clearfix

html, body
	width: 100%
	height: 100%

body
	overflow-x: hidden
	color: white
	font-weight: bold
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

.header
	top: 0
	left: 0
	z-index: 2
	position: fixed
	padding: 1em
	h1
		font:
			family: "Rothman", "Helvetica Neue", Helvetica, Arial, sans-serif
			weight: 400
			size: 6em
		text-transform: uppercase
		letter-spacing: 0.033em
		+single-text-shadow
		line-height: 1.2em
		margin: 0 0 -0.2em 0

#video-container
	top: 0
	left: 0
	position: fixed
	&:after
		content: "."
		font-size: 0
		color: transparent
		top: 0
		left: 0
		position: absolute
		width: 100%
		height: 100%
		display: inline-block
		background-image: inline-image('FOLBG.png')

.rotater-container
	top: 50%
	left: 50%
	z-index: 1
	position: fixed
	width: 400px
	height: 400px
	margin-top: -200px
	margin-left: -200px
	opacity: 0
.rotater-container.on
	+single-transition(opacity, 0.3s, ease-out)
	opacity: 1
#thread-container
	width: 100%
	height: 100%
	padding: 40px
	+box-sizing(border-box)
	+border-radius(300px)
	border: 5px solid rgba(white, 0.8)
	background: rgba(black, 0.8)
.cssanimations.csstransforms .rotater
	top: 0
	left: 0
	z-index: -1
	position: absolute
	width: 100%
	height: 100%
	+box-sizing(border-box)
	opacity: 0.8
	background: rgba(black, 0.8)
	border: 5px solid rgba(white, 0.8)
	-webkit-animation: rotate infinite linear
	animation: rotate infinite linear
	&.box0
		-webkit-animation-duration: 1.5s
		animation-duration: 1.5s
	&.box1
		-webkit-animation-duration: 1.7s
		animation-duration: 1.7s
	&.box2
		-webkit-animation-duration: 1.9s
		animation-duration: 1.9s
	&.box3
		-webkit-animation-duration: 2.3s
		animation-duration: 2.3s
	&.box4
		-webkit-animation-duration: 2.7s
		animation-duration: 2.7s
	&.box5
		-webkit-animation-duration: 3.4s
		animation-duration: 3.4s
	&.box6
		-webkit-animation-duration: 2.8s
		animation-duration: 2.8s
	&.box7
		-webkit-animation-duration: 4.4s
		animation-duration: 4.4s
	&.box8
		-webkit-animation-duration: 5s
		animation-duration: 5s
	&.box9
		-webkit-animation-duration: 6s
		animation-duration: 6s
@-webkit-keyframes rotate
	0%
		-webkit-transform: rotate(0deg)
		transform: rotate(0deg)
	100%
		-webkit-transform: rotate(90deg)
		transform: rotate(90deg)
@keyframes rotate
	0%
		-webkit-transform: rotate(0deg)
		-moz-transform: rotate(0deg)
		-ms-transform: rotate(0deg)
		-o-transform: rotate(0deg)
		transform: rotate(0deg)
	100%
		-webkit-transform: rotate(90deg)
		-moz-transform: rotate(90deg)
		-ms-transform: rotate(90deg)
		-o-transform: rotate(90deg)
		transform: rotate(90deg)
	
.thread
	width: 100%
	height: 100%
	text-align: center
	font-family: "RipeBold", "Helvetica Neue", Helvetica, Arial, sans-serif
	font-weight: bold
	letter-spacing: 0.15em
	+single-text-shadow(-1px, -1px, 0, false, black)

.thread-number
	font-size: 5em
	line-height: 1em
.thread-title
	font-size: 1.3em
	line-height: 1.6em
.thread-subtitle
	line-height: 2em
.ex-link
	line-height: 2em
	+link-colors(rgba(white, 0.8))

.button-hourglass,
.button-play,
.button-next
	position: relative
	display: block
	margin-top: 1em
.button-play
	@include button-sprite(play)
	$playNormoWidth: button-sprite-width(play)
	$playNormoHeight: button-sprite-height(play)
	$playHoverWidth: button-sprite-width(play_hover)
	$playHoverHeight: button-sprite-height(play_hover)
	$playNormoPaddingV: ( $playHoverHeight - $playNormoHeight ) / 2
	$playNormoPaddingH: ( $playHoverWidth - $playNormoWidth ) / 2
	
	color: transparent
	font-size: 0

	margin: 1rem auto 0

	width: $playHoverWidth
	height: $playHoverHeight

	padding: $playNormoPaddingV $playNormoPaddingH
	background-origin: content-box
	+box-sizing(border-box)
	+background-origin
	
	&:hover
		padding: 0
		height: $playHoverHeight
		width: $playHoverWidth

.button-next
	$nW: button-sprite-width(next)
	$nH: button-sprite-height(next)
	$w: button-sprite-width(next-h)
	$h: button-sprite-height(next-h)
	$oH: ($w - $nW) / 2
	$oV: ($h - $nH) / 2
	width: $w
	height: $h
	position: relative
	font-size: 0
	color: transparent
	margin-top: 1.5rem
	margin-left: auto
	margin-right: auto
	&:before,
	&:after
		+pseudo($h, $w)
		+single-transition(all, 0.3, ease-out)
	&:before
		top: $oV
		left: $oH - 0.5px
		+button-sprite(next)
		opacity: 1
	&:after
		+button-sprite(next-h)
		opacity: 0
	&:hover
		&:before
			opacity: 0
		&:after
			opacity: 1

.button-timer
	$cW: button-sprite-width(clock)
	$cH: button-sprite-height(clock)
	$mW: button-sprite-width(mail)
	$mH: button-sprite-height(mail)
	$mHW: button-sprite-width(mail-h)
	$mHH: button-sprite-height(mail-h)
	// clock is widest and heighest
	$w: $cW
	$h: $cH
	width: $w
	height: $h
	position: relative
	margin: 0.5rem auto
	cursor: pointer
	.clock
		+pseudo($h, $w)
		+button-sprite(clock)
		+single-transition(all, 0.8s, ease-out, 0.8s)
		opacity: 1
	&:before,
	&:after
		opacity: 0
	&:before
		+pseudo($mH, $mW)
		+button-sprite(mail)
		+single-transition(all, 0.8s, ease-out)
		top: ($h - $mH) / 2
		left: ($w - $mW) / 2
	&:after
		+pseudo($mHH, $mHW)
		+button-sprite(mail-h)
		+single-transition(all, 0.3s, ease-out)
		top: ($h - $mHH) / 2
		left: ($w - $mHW) / 2
	&.mailOn 
		.clock
			opacity: 0
			+single-transition(all, 0.8s, ease-out)
		&:before
			opacity: 1
			+single-transition(all, 0.8s, ease-out, 0.8s)
	&:hover
		.clock
			+single-transition(all, 0.8s, ease-out)
			opacity: 0
		&:after
			+single-transition(all, 0.8s, ease-out)
			opacity: 1
.timer
	font-size: 2rem
	line-height: 1.6em

.info-link
	position: relative
	width: 1.0625rem
	height: 1.0625rem
	padding: 0
	margin: auto
	display: block
	font-size: 0
	color: transparent
	background: rgba(black, 0.7)
	+border-radius(2rem)
	border: 2px solid rgba(white, 0.7)
	cursor: pointer
	+box-sizing(content-box)
	&:before,
	&:after
		+pseudo(100%, 100%, false, "i")
		color: white
		font-size: 0.875rem
		line-height: 1.0625rem
		text-align: center
		top: 0
	&:before
		font-family: "Times New Roman", serif
		font-style: italic
		font-weight: 800
		+opacity(1)
	&.active:before
		+opacity(0)
	&:after
		content: "x"
		+opacity(0)
	&.active:after
		+opacity(1)

.willHide
	+opacity(1)
	+single-transition(opacity, 0.3s, ease-out, 0.3s)
.thread.infoOn .willHide
	+opacity(0)
	+single-transition(opacity, 0.3s, ease-out)

.info
	+single-transition(opacity, 0.3s, ease-out)
	+opacity(0)
	&.active
		+single-transition(opacity, 0.3s, ease-out, 0.3s)
		+opacity(1)
.thread-desc
	top: 35%
	left: 0
	position: absolute
	width: 100%
	padding: 0 20px
	text-align: center
	box-sizing: border-box

.node-container
	top: 0
	right: 0
	z-index: 1
	position: fixed
	height: 100%
.nodes
	height: 100%
	padding: 1em 0.45rem 1em 0
	margin: 0
	+box-sizing(border-box)
	font-size: 0.6em
	text-align: right
	list-style: none
.node-link-container
	height: (100/26)*1%
	margin-bottom: -2px
.node-link
	height: 1.4em
	// I should set hard values for height and padding with jQuery
	padding-right: 4em
	display: block
	position: relative
	+unstyled-link
	color: transparent
	+single-transition(all, 0.7s, ease-out)
	// this :after are the @dots
	&:after
		content: "·"
		font-size: 0
		color: transparent
		width: 0.25rem
		height: 0.25rem
		margin-top: -0.125rem
		display: block
		top: 50%
		right: 0.8rem
		position: absolute
		background: white
		+border-radius(1rem)
		+box-shadow
		+single-transition(all, 0.7s, ease-out)
.node-link-container:hover .node-link,
.node-link.active
	color: white
	+single-text-shadow
	padding-right: 3em
	+single-transition(all, 0.3s, ease-out)
	&:after
		+box-shadow($blueGlow 0 0 10px 3px)
		+single-transition(all, 0.3s, ease-out)
#node-anchor
	$w: button-sprite-width(anchor-h)
	$h: button-sprite-height(anchor-h)
	$nW: button-sprite-width(anchor)
	$nH: button-sprite-height(anchor)
	$pH: ($w - $nW) / 2
	$pV: ($h - $nH) / 2
	width: $w
	height: $h
	right: 0.1rem
	position: absolute
	&:before
		+pseudo($w, $h)
		top: $pV
		right: -$pH + 0.5px
		// padding: $pH $pV
		+button-sprite(anchor)
		// +background-origin(content-box)
		+single-transition(all, 0.3s, ease-out)
		opacity: 1
	&:after
		+pseudo($w, $h)
		+button-sprite(anchor-h)
		top: 0
		right: 0
		opacity: 0
		+single-transition(all, 0.3s, ease-out)
	&:hover:before,
	&.active:before
		opacity: 0
	&:hover:after,
	&.active:after
		opacity: 1
.node-link-container:first-child
	margin-bottom: 1rem
	margin-top: 0.4rem
#node-26
	$width: button-sprite-width(t26Glow)
	$height: button-sprite-height(t26Glow)
	padding-right: 5em
	line-height: 1.5625rem
	&:hover,
	&.active
		padding-right: 4em
	&:before
		$paddingH: ( $width - button-sprite-width(t26) ) / 2
		$paddingV: ( $height - button-sprite-width(t26) ) / 2
		+pseudo($width, $height)
		top: 0
		right: -1.15rem
		padding: $paddingV $paddingH
		+box-sizing(border-box)
		+button-sprite(t26)
		+single-transition(all, 0.3s, ease-out)
		opacity: 1
	&:hover:before,
	&.active:before
		opacity: 0
	&:after
		top: -0.4375rem
		right: -0.55rem
		+pseudo($width, $height)
		+button-sprite(t26Glow)
		opacity: 0
		box-shadow: none
	&:hover:after,
	&.active:after
		opacity: 1
		box-shadow: none

.keys
	width: 100%
	padding: 0 0.5rem
	margin: 0.75rem 0 0 0
	+box-sizing(border-box)
	+clearfix
	list-style: none
.key
	float: left
	width: 33%
	+box-sizing(border-box)
	padding: 0 0.5rem
.key-button
	font-size: 0
	color: transparent
	width: 100%
	height: 8rem
	padding: 0
	border: none
	position: relative
	background: white
	background: rgba(white, 0.3)
	+background-image(linear-gradient(rgba(white, 0.3), rgba(#4e4e4e, 0.3)))
	+border-radius(0 0 10px 10px)
	border: 2px solid rgba(175,175,175,0.8)
	cursor: pointer

	$normalWidth: light-sprite-width(normal)
	$normalHeight: light-sprite-height(normal)

	$hoverWidth: light-sprite-width(hover)
	$hoverHeight: light-sprite-height(hover)
	$hoverMTop: ($normalHeight - $hoverHeight) / 2

	$activeWidth: light-sprite-width(active)
	$activeHeight: light-sprite-height(active)

	+single-transition(height, 2.5s)

	&:before,
	&:after,
	> span
		content: "."
		font-size: 0

		color: transparent
		display: block
		top: 1rem
		left: 50%
		position: absolute
		+single-transition(opacity, 0.3s, ease-out)

	// Glow/Hover light
	&:before
		@include light-sprite(hover)
		width: $hoverWidth
		height: $hoverHeight
		// plus one, image is off a bit
		margin-left: - ($hoverWidth / 2) + 1
		margin-top: $hoverMTop
		+opacity(0)
	&:hover:before
		+opacity(1)

	// Dead/Normal Light
	&:after
		@include light-sprite(normal)
		width: $normalWidth
		height: $normalHeight
		// plus one, image is off a bit
		margin-left: - ($normalWidth / 2) + 1
		+opacity(1)
	&:hover:after
		+opacity(0.7)
	&.active:after
		+opacity(0)

	// Wave/Active Light
	> span
		@include light-sprite(active)
		width: $activeWidth
		height: $activeHeight
		margin-left: - ($activeWidth / 2)
		// pointer-events: none
		+opacity(0)
	&.active span
		+opacity(1)

	&.active
		background: #8ad388
		background: rgba(#8ad3ee, 0.3)
		+background-image(linear-gradient(rgba(#8ad3ee, 0.3), rgba(#0e5772, 0.3)))
		border: 2px solid rgba(33%,62%,72%,0.8)


.video-title, .modal-title
	line-height: 1.618em
	position: absolute
	top: -1.618em


.modal-subtitle
	font-size: 1.3em
	line-height: 1.5em

.close-modal
	+unstyled-link
	text-align: right
	right: 0
	bottom: -1rem
	position: absolute

.moreInfo
	width: 40%
	height: 75%
	border: 2px solid rgba(white, 0.8)
	color: rgba(white, 0.8)

.moreInfo-container
	height: 100%
	background: rgba(black, 0.8)
	font-size: 0.8em
	font-weight: 400
	overflow: hidden
	overflow-y: scroll
	.row
		margin-bottom: 1rem
		+clearfix
		> div, > ul
			+box-sizing(border-box)
			padding: 1rem

	.email-notifier
		float: left
		width: 50%
		.field-group input
			width: 100%
			border: 1px dotted rgba(white, 0.3)
			font-size: 1rem
			line-height: 1.8em
			color: rgba(white, 0.8)
			text-align: center
			background: transparent
			+box-sizing(border-box)
			margin-bottom: 0.4em
		.button-submit
			width: 100%
			background: transparent
			border: 1px solid rgba(white, 0.8)
			color: rgba(white, 0.8)
			cursor: pointer

	.xmodal-title
		font-size: 2em
		text-align: center
		margin-bottom: 0.5em

.social
	float: right
	width: 50%
	.social-item
		float: right
		margin-right: 0.5rem
	.modal-subtitle
		text-align: right
	.twitter
		margin-right: 0
	.vimeo
		width: 6.1rem
		margin-top: 1.3em
		a
			display: block
		img
			margin: auto
			display: block
	.g26
		width: 3.875rem
		margin-top: 1.1rem
		margin-right: 0
		img
			width: 3.875rem
	.ico
		position: relative
		color: transparent
		font-size: 0
		width: 1rem
		height: 1rem
		margin-top: 0.1rem
		display: block
		&:before,
		&:after
			top: 0
			left: 0
			+pseudo(1rem, 1rem)
			+single-transition(opacity, 0.3s, ease-out)
			cursor: pointer
		&:before
			opacity: 1
		&:after
			opacity: 0
		&:hover:after
			opacity: 1
		&.tw:before
			+social-sprite(tw)
		&.tw:after
			+social-sprite(twO)
		&.fb:before
			+social-sprite(fb)
		&.fb:after
			+social-sprite(fbO)

.def-wrap
	+clearfix
	margin-bottom: 0.8rem
	overflow: hidden
	&:after
		content: ""
		display: block
		overflow: hidden
		height: 1em
		border-bottom: 1px dotted rgba(white, 0.8)
	dt
		padding-right: 0.4rem
		float: left
		font-weight: 800
		text-decoration: underline
		&:after
			content: ": "
	dd
		padding-left: 0.4rem
		float: right
		a
			+link-colors(rgba(white, 0.8))
