//- Loads app/jade/layouts/default
include layouts/default
	block extend content
		- var height = 40000
		div#main(style='height: #{height}px')
			header.header
				h1 26 Threads 0.2.7
			article#thread-container
			nav.node-container
				ul#node-list.nodes
			#video-container
				img(
					src='/assets/images/video-bg/vid-0001.jpg',
					style='width: 100%; height: 100%;')
			ul#audio-container.keys

