//- Loads app/jade/layouts/default
include layouts/default
	block extend content
		//- var height = 27200
		- var height = 150000;
		div#main(style='height: #{height}px')
			header.header 26 Threads 0.2.4
			article#thread-container
			nav.node-container
				ul#node-list
			#video-container
				img(
					src='/images/video-bg/vid-0001.jpg',
					style='width: 100%; height: 100%;')
