!!! 5
//if lt IE 7
	<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie10 lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie10 lt-ie9">
//if IE 9
	<html class="no-js lt-ie10">
//[if gt IE 9]><!
html(class='no-js')
	//<![endif]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

		//- Can be overriden in templates.
		block pageTitle
			title Universal Mind

		//- Can be overriden in templates.
		block metaDescription
			meta(name='description', content='Be Witness to Twin Permutations of Manifestation')
		meta(name='viewport', content='width=device-width')

		//- This stylesheet is compiled from app/styles/main.sass
		link(rel='stylesheet', href='styles/main.css')

		//- Modernizr is a feature testing engine, very necessary.
		// build:js scripts/vendor/modernizr/js
		script(src='components/modernizr/modernizr.js')
		// endbuild

	body
		//- Specifies line to load block from template
		block content

		//- Where JavaScript AMD modules are loaded
		// build:js scripts/main.js
		script(data-main='scripts/main', src='components/requirejs/require.js')
		// endbuild

		script
			var _gaq=[['_setAccount','UA-36393594-1'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
